node_modules/
frontend/node_modules/
dist/
build/
.env
.env.local
.DS_Store
npm-debug.log*
package-lock.json
/.idea/
.vscode/
/.cache
*.local.env
./node_modules
/dist
/build
.DS_Store
.vscode/        